html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  min-height: 100vh;
  background: #0d1117;
  color: white;
}

.container {
    margin: 50px 10px;
    max-width: 1200px;
}

h1 {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  line-height: 95%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    z-index: 2;
    margin: 30px 0;
}

p {
  line-height: 2rem;
  font-size: 1.3rem;
  z-index: 2;
  position: relative;
}

.description {
    padding: 0 30px;
    text-align: center;
}

form {
  border:rgb(250, 232, 90) 1px solid;
  box-shadow: 2px 2px 14px 2px hwb(53deg 35% 2% / 99%);
  border-radius:  0.5rem;
  margin: 40px auto;
  max-width: 400px;
  padding: 32px;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px 16px;
  width: 80%;
  border-radius: 3px;
  margin: 10px;
  z-index: 2;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: black;
}

label {
  font-size: 1.2rem;
}

.date {
    text-align: center;
    z-index: 2;
    color:rgb(250, 232, 90);
    font-size: 1.1rem;
}

.apod {
  box-shadow: 0px 3px 12px 0px #ebebeb;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  margin-top: 65px;
}

.apod img {
  max-width: 100%;
  text-align: center;
  z-index: 2;
}

.apod-text {
  padding: 24px;
}

.hidden {
  display: none;
}

.text-gradient {
  background: linear-gradient(
    71.18deg,
    rgb(0, 34, 255) -27.32%,
    rgb(0, 34, 255) -16.39%,
    rgb(81, 121, 254) -7.38%,
    rgb(165, 237, 182) 30.59%,
    rgb(250, 232, 90) 46.06%,
    rgb(253, 172, 62) 62.61%,
    rgb(255, 92, 0) 75.82%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.bg-gradient {
  background: linear-gradient(
    230deg,
    rgb(0, 34, 255) -16.39%,
    rgb(165, 237, 182) 30.59%,
    rgb(253, 172, 62) 62.61%,
    rgb(255, 92, 0) 75.82%
  );
}

.outer {
  position: relative;
  padding: 3rem;
  border-radius: 0.75rem;
}

.inner::after {
  content: "";
  position: absolute;
  background-color: #0d1117;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  z-index: 1;
  border-radius: 0.5rem;
}

button {
    padding: 10px 15px;
    color: rgb(36, 41, 46);
    background: rgb(246, 248, 250);
    cursor: pointer;
    border-radius: 0.375rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

a {
    color:rgb(165, 237, 182)
}

@media screen and (max-width: 500px){
    .description {
        padding: 0;
        text-align: left;
    }
    p {
        font-size: 1rem;
        line-height: 1.5rem
    }
    h1 {
        font-size: 1.6rem;
    }
    .outer {
        padding: 2rem;
    }
    button {
        font-size: 1rem;
    }
    article {
        padding: 0;
    }
    h2 {
        font-size: 1.3rem;
    }
}

#stars-group-1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 723px 15px #fff, 183px 530px #fff, 886px 1496px #fff, 1548px 1110px #fff, 1347px 762px #fff, 898px 546px #fff, 1370px 850px #fff, 155px 70px #fff, 1477px 764px #fff, 1533px 1023px #fff, 1002px 984px #fff, 201px 194px #fff, 408px 1523px #fff, 290px 1024px #fff, 114px 1290px #fff, 378px 180px #fff, 781px 1209px #fff, 183px 1659px #fff, 1205px 1702px #fff, 1493px 1446px #fff, 1068px 783px #fff, 1407px 847px #fff, 410px 772px #fff, 1635px 1249px #fff, 354px 643px #fff, 1529px 1111px #fff, 694px 1049px #fff, 1394px 1680px #fff, 104px 1451px #fff, 122px 1286px #fff, 57px 875px #fff, 1118px 838px #fff, 322px 72px #fff, 1456px 1182px #fff, 578px 1428px #fff, 1540px 1270px #fff, 127px 1564px #fff, 982px 781px #fff, 1653px 1209px #fff, 182px 503px #fff, 1374px 1599px #fff, 1236px 1359px #fff, 1213px 1021px #fff, 421px 1052px #fff, 304px 102px #fff, 1432px 219px #fff, 1592px 1131px #fff, 1029px 129px #fff, 1137px 1752px #fff, 130px 1530px #fff, 1655px 107px #fff, 1587px 779px #fff, 489px 1038px #fff, 99px 1580px #fff, 899px 1589px #fff, 1632px 1465px #fff, 1695px 1769px #fff, 1087px 150px #fff, 1064px 521px #fff, 152px 493px #fff, 945px 1047px #fff, 1072px 1018px #fff, 752px 1763px #fff, 553px 579px #fff, 310px 839px #fff, 1267px 822px #fff, 189px 1479px #fff, 1722px 1704px #fff, 247px 1045px #fff, 798px 232px #fff, 838px 1253px #fff, 308px 683px #fff, 1159px 1134px #fff, 585px 1709px #fff, 1520px 1413px #fff, 146px 537px #fff, 1147px 431px #fff, 622px 1476px #fff, 1790px 1375px #fff, 316px 1619px #fff, 811px 572px #fff, 110px 376px #fff, 1666px 29px #fff, 1732px 1341px #fff, 1503px 81px #fff, 190px 1681px #fff, 1254px 14px #fff, 260px 596px #fff, 226px 1345px #fff, 507px 631px #fff, 943px 398px #fff, 583px 984px #fff, 22px 785px #fff, 971px 627px #fff, 1549px 1426px #fff, 187px 649px #fff, 973px 1698px #fff, 265px 718px #fff, 1745px 371px #fff, 1207px 869px #fff, 1318px 1264px #fff, 257px 1661px #fff, 1007px 1669px #fff, 52px 107px #fff, 776px 464px #fff, 1752px 61px #fff, 350px 809px #fff, 927px 190px #fff, 811px 216px #fff, 1032px 267px #fff, 1526px 1533px #fff, 1403px 468px #fff, 1759px 397px #fff, 1120px 554px #fff, 2px 11px #fff, 1111px 492px #fff, 557px 1797px #fff, 1672px 78px #fff, 1356px 948px #fff, 659px 1117px #fff, 80px 1778px #fff, 1703px 1051px #fff, 1507px 1483px #fff, 219px 1040px #fff, 1453px 215px #fff, 641px 71px #fff, 997px 1092px #fff, 862px 100px #fff, 438px 8px #fff, 590px 1552px #fff, 982px 1272px #fff, 907px 1168px #fff, 1287px 47px #fff, 26px 238px #fff, 1699px 1500px #fff, 1122px 35px #fff, 346px 447px #fff, 442px 596px #fff, 455px 287px #fff, 31px 1441px #fff, 466px 839px #fff, 1288px 935px #fff, 698px 1312px #fff, 1562px 1489px #fff, 14px 431px #fff, 1433px 1565px #fff, 1397px 548px #fff, 930px 154px #fff, 936px 637px #fff, 870px 1212px #fff, 1627px 379px #fff, 35px 1245px #fff, 128px 1628px #fff, 1586px 1088px #fff, 1124px 1140px #fff, 1063px 1366px #fff, 1184px 782px #fff, 576px 128px #fff, 913px 369px #fff, 503px 604px #fff, 1474px 1352px #fff, 423px 625px #fff, 351px 556px #fff, 1721px 541px #fff, 1235px 741px #fff, 1266px 597px #fff, 1482px 456px #fff, 664px 1476px #fff, 580px 575px #fff, 810px 556px #fff, 1070px 343px #fff, 1245px 1144px #fff, 288px 1527px #fff, 607px 1771px #fff, 186px 982px #fff, 644px 580px #fff, 1242px 1370px #fff, 50px 1293px #fff, 153px 1246px #fff, 425px 319px #fff, 1624px 1596px #fff, 1191px 1617px #fff, 74px 1707px #fff, 649px 1761px #fff, 796px 1629px #fff, 793px 1062px #fff, 808px 26px #fff, 1109px 558px #fff, 794px 1004px #fff, 72px 710px #fff, 1554px 1737px #fff, 1057px 42px #fff, 1486px 578px #fff, 275px 71px #fff, 316px 172px #fff, 1191px 1680px #fff, 12px 930px #fff, 1757px 1122px #fff, 322px 869px #fff, 574px 453px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
    z-index: 2;
    position: relative;
  }
  
  #stars-group-2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 1471px 837px #fff, 1718px 675px #fff, 1707px 535px #fff, 612px 705px #fff, 241px 178px #fff, 1077px 1005px #fff, 1528px 1254px #fff, 688px 1200px #fff, 36px 1251px #fff, 1140px 31px #fff, 529px 1209px #fff, 348px 881px #fff, 1742px 1191px #fff, 718px 583px #fff, 1221px 1067px #fff, 1155px 1317px #fff, 397px 542px #fff, 1159px 514px #fff, 1180px 208px #fff, 1422px 350px #fff, 739px 411px #fff, 1183px 1424px #fff, 1303px 535px #fff, 415px 830px #fff, 553px 968px #fff, 147px 1212px #fff, 691px 890px #fff, 418px 1291px #fff, 922px 1290px #fff, 340px 90px #fff, 1073px 1397px #fff, 209px 1px #fff, 1098px 1116px #fff, 144px 332px #fff, 1752px 259px #fff, 655px 124px #fff, 549px 476px #fff, 348px 1540px #fff, 964px 1423px #fff, 1064px 1227px #fff, 227px 1494px #fff, 247px 917px #fff, 1437px 1274px #fff, 946px 140px #fff, 456px 1385px #fff, 1539px 997px #fff, 924px 1320px #fff, 1372px 19px #fff, 5px 607px #fff, 1587px 1348px #fff, 546px 2px #fff, 744px 1009px #fff, 1311px 922px #fff, 712px 644px #fff, 35px 141px #fff, 1717px 1001px #fff, 1647px 1393px #fff, 1507px 1710px #fff, 64px 1284px #fff, 787px 843px #fff, 1348px 44px #fff, 586px 742px #fff, 937px 505px #fff, 581px 1537px #fff, 365px 343px #fff, 598px 921px #fff, 1531px 896px #fff, 202px 407px #fff, 1773px 1406px #fff, 1283px 1648px #fff, 262px 857px #fff, 863px 1128px #fff, 1619px 58px #fff, 1206px 367px #fff, 504px 171px #fff, 1550px 44px #fff, 1505px 307px #fff, 1014px 1395px #fff, 1625px 79px #fff, 334px 547px #fff, 701px 1025px #fff, 1798px 894px #fff, 1215px 641px #fff, 120px 1502px #fff, 773px 1733px #fff, 269px 1232px #fff, 225px 1662px #fff, 1282px 1016px #fff, 1489px 927px #fff, 65px 219px #fff, 1663px 1586px #fff, 121px 1695px #fff, 1687px 1604px #fff, 1087px 802px #fff, 178px 175px #fff, 1189px 1111px #fff, 18px 215px #fff, 484px 133px #fff, 331px 472px #fff, 839px 686px #fff, 1435px 977px #fff, 855px 6px #fff, 13px 1410px #fff, 55px 203px #fff, 1445px 966px #fff, 303px 785px #fff, 411px 1049px #fff, 94px 632px #fff, 844px 1140px #fff, 896px 838px #fff, 1792px 1107px #fff, 506px 1613px #fff, 1266px 38px #fff, 1451px 696px #fff, 1138px 343px #fff, 423px 1670px #fff, 625px 239px #fff, 809px 1298px #fff, 91px 98px #fff, 956px 758px #fff, 824px 749px #fff, 590px 938px #fff, 1156px 222px #fff, 605px 1341px #fff, 1692px 515px #fff, 847px 1101px #fff, 970px 81px #fff, 329px 764px #fff, 1144px 462px #fff, 1700px 92px #fff, 1655px 1155px #fff, 1060px 784px #fff, 815px 883px #fff, 1631px 1560px #fff, 391px 450px #fff, 1033px 1588px #fff, 1759px 435px #fff, 1341px 326px #fff, 1637px 258px #fff, 269px 840px #fff, 864px 319px #fff, 1372px 1389px #fff, 1059px 1479px #fff, 225px 1653px #fff, 1275px 630px #fff, 1187px 1167px #fff, 397px 1490px #fff, 503px 1639px #fff, 883px 968px #fff, 832px 1148px #fff, 680px 1469px #fff, 365px 31px #fff, 1519px 1755px #fff, 906px 320px #fff, 949px 685px #fff, 1430px 1585px #fff, 1675px 1792px #fff, 939px 479px #fff, 449px 622px #fff, 602px 952px #fff, 1071px 202px #fff, 1050px 1276px #fff, 1456px 808px #fff, 56px 1067px #fff, 910px 830px #fff, 395px 919px #fff, 421px 578px #fff, 40px 1658px #fff, 1662px 1442px #fff, 869px 483px #fff, 200px 855px #fff, 251px 1170px #fff, 758px 1660px #fff, 655px 309px #fff, 1348px 468px #fff, 21px 359px #fff, 176px 1308px #fff, 774px 581px #fff, 508px 305px #fff, 70px 1734px #fff, 1302px 77px #fff, 1182px 1133px #fff, 1154px 1450px #fff, 46px 1777px #fff, 492px 1682px #fff, 1487px 1535px #fff, 690px 520px #fff, 1px 275px #fff, 1796px 1389px #fff, 1198px 428px #fff, 1152px 820px #fff, 1529px 320px #fff, 354px 881px #fff, 554px 287px #fff, 221px 1258px #fff, 1075px 761px #fff, 427px 1494px #fff, 997px 203px #fff, 795px 1273px #fff, 222px 72px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    z-index: 2;
    position: relative;
  }
  
  #stars-group-3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 225px 1117px #fff, 90px 1323px #fff, 1082px 379px #fff, 385px 19px #fff, 588px 1288px #fff, 703px 1356px #fff, 1581px 113px #fff, 1607px 1546px #fff, 520px 1173px #fff, 766px 143px #fff, 510px 47px #fff, 680px 1352px #fff, 528px 1078px #fff, 1685px 164px #fff, 943px 342px #fff, 1763px 1657px #fff, 1017px 335px #fff, 1380px 1130px #fff, 843px 1664px #fff, 211px 1043px #fff, 1730px 1529px #fff, 534px 1499px #fff, 1488px 454px #fff, 604px 76px #fff, 1526px 1246px #fff, 615px 955px #fff, 1762px 482px #fff, 575px 736px #fff, 1614px 595px #fff, 22px 839px #fff, 567px 1230px #fff, 158px 1112px #fff, 1458px 60px #fff, 901px 1438px #fff, 267px 236px #fff, 1575px 1459px #fff, 1463px 778px #fff, 1414px 38px #fff, 1212px 1744px #fff, 843px 860px #fff, 1750px 162px #fff, 696px 1450px #fff, 544px 1490px #fff, 754px 326px #fff, 640px 645px #fff, 331px 932px #fff, 280px 553px #fff, 944px 204px #fff, 366px 919px #fff, 1532px 1787px #fff, 900px 464px #fff, 1574px 1768px #fff, 1527px 916px #fff, 477px 1305px #fff, 1051px 558px #fff, 1775px 1024px #fff, 729px 1061px #fff, 990px 774px #fff, 532px 1248px #fff, 471px 26px #fff, 118px 431px #fff, 610px 1235px #fff, 1717px 1314px #fff, 1731px 1149px #fff, 830px 1627px #fff, 55px 592px #fff, 395px 1617px #fff, 151px 1230px #fff, 375px 4px #fff, 180px 58px #fff, 164px 977px #fff, 924px 672px #fff, 690px 656px #fff, 1069px 1545px #fff, 1511px 908px #fff, 1741px 452px #fff, 280px 955px #fff, 877px 690px #fff, 762px 209px #fff, 1719px 825px #fff, 129px 1350px #fff, 1589px 1142px #fff, 1020px 333px #fff, 384px 486px #fff, 1005px 154px #fff, 633px 1012px #fff, 1368px 1578px #fff, 636px 401px #fff, 777px 559px #fff, 1093px 222px #fff, 1594px 1402px #fff, 1583px 1298px #fff, 742px 937px #fff, 1390px 218px #fff, 1301px 32px #fff, 1016px 772px #fff, 259px 1397px #fff, 1227px 1532px #fff, 1512px 422px #fff, 62px 369px #fff, 8px 536px #fff, 1199px 532px #fff, 889px 1679px #fff, 228px 125px #fff, 1397px 602px #fff, 188px 773px #fff, 816px 107px #fff, 791px 584px #fff, 56px 696px #fff, 961px 887px #fff, 1447px 290px #fff, 411px 402px #fff, 260px 1520px #fff, 1215px 1203px #fff, 111px 654px #fff, 1308px 1541px #fff, 1064px 336px #fff, 1239px 717px #fff, 262px 1374px #fff, 593px 550px #fff, 383px 266px #fff, 360px 1489px #fff, 1282px 6px #fff, 978px 1366px #fff, 1788px 1112px #fff, 1439px 411px #fff, 231px 1001px #fff, 1595px 1007px #fff, 608px 390px #fff, 1485px 626px #fff, 807px 655px #fff, 930px 1091px #fff, 1740px 250px #fff, 986px 782px #fff, 518px 1763px #fff, 886px 1078px #fff, 415px 603px #fff, 416px 1646px #fff, 1569px 1003px #fff, 411px 1288px #fff, 411px 1793px #fff, 110px 981px #fff, 660px 1686px #fff, 164px 1222px #fff, 927px 1744px #fff, 519px 906px #fff, 1343px 1296px #fff, 285px 448px #fff, 909px 122px #fff, 999px 745px #fff, 1104px 1483px #fff, 995px 532px #fff, 611px 748px #fff, 850px 189px #fff, 1245px 1139px #fff, 248px 586px #fff, 1320px 178px #fff, 1168px 727px #fff, 912px 820px #fff, 1574px 541px #fff, 1158px 134px #fff, 135px 61px #fff, 880px 1541px #fff, 79px 149px #fff, 1140px 434px #fff, 298px 756px #fff, 1635px 718px #fff, 1456px 1196px #fff, 1186px 417px #fff, 1145px 551px #fff, 989px 309px #fff, 1497px 407px #fff, 169px 851px #fff, 1388px 972px #fff, 1486px 1358px #fff, 169px 291px #fff, 1084px 60px #fff, 1589px 849px #fff, 712px 1366px #fff, 404px 270px #fff, 340px 628px #fff, 50px 1081px #fff, 164px 1536px #fff, 225px 1673px #fff, 1193px 371px #fff, 1723px 828px #fff, 73px 1398px #fff, 1515px 1739px #fff, 498px 1587px #fff, 1090px 1078px #fff, 1592px 1575px #fff, 457px 267px #fff, 1106px 647px #fff, 1728px 743px #fff, 269px 489px #fff, 1569px 1242px #fff, 1581px 704px #fff, 938px 1193px #fff, 269px 265px #fff, 1224px 496px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    z-index: 2;
    position: relative;
  }
  
  #stars-group-4 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 995px 1062px #fff, 473px 242px #fff, 1089px 177px #fff, 995px 1473px #fff, 1027px 1464px #fff, 1308px 1202px #fff, 724px 213px #fff, 1526px 29px #fff, 1709px 826px #fff, 12px 1443px #fff, 639px 1732px #fff, 42px 360px #fff, 1580px 1101px #fff, 1768px 118px #fff, 1582px 780px #fff, 539px 1597px #fff, 130px 421px #fff, 796px 1183px #fff, 1156px 1668px #fff, 979px 230px #fff, 1097px 518px #fff, 1580px 1396px #fff, 1150px 116px #fff, 1410px 817px #fff, 1044px 789px #fff, 1184px 880px #fff, 386px 159px #fff, 1080px 1479px #fff, 148px 719px #fff, 64px 1800px #fff, 376px 31px #fff, 1104px 659px #fff, 1138px 162px #fff, 1553px 207px #fff, 1197px 1523px #fff, 1129px 508px #fff, 1169px 911px #fff, 1239px 1388px #fff, 568px 1013px #fff, 105px 1332px #fff, 902px 47px #fff, 150px 1671px #fff, 151px 1173px #fff, 669px 1392px #fff, 1660px 494px #fff, 426px 737px #fff, 340px 45px #fff, 815px 457px #fff, 1085px 1391px #fff, 924px 186px #fff, 1765px 197px #fff, 787px 113px #fff, 813px 182px #fff, 485px 148px #fff, 110px 748px #fff, 222px 22px #fff, 57px 680px #fff, 952px 810px #fff, 1284px 38px #fff, 947px 931px #fff, 363px 764px #fff, 1566px 1362px #fff, 1287px 90px #fff, 856px 87px #fff, 209px 473px #fff, 1396px 792px #fff, 1106px 1070px #fff, 1761px 1198px #fff, 620px 658px #fff, 1795px 1739px #fff, 888px 1760px #fff, 756px 383px #fff, 1333px 192px #fff, 958px 149px #fff, 1731px 1494px #fff, 690px 835px #fff, 1420px 991px #fff, 672px 1030px #fff, 1592px 971px #fff, 480px 1257px #fff, 1122px 433px #fff, 134px 1301px #fff, 1005px 1759px #fff, 181px 1617px #fff, 1696px 1281px #fff, 159px 907px #fff, 1513px 930px #fff, 1796px 1645px #fff, 948px 40px #fff, 77px 66px #fff, 385px 716px #fff, 1785px 935px #fff, 121px 843px #fff, 604px 860px #fff, 697px 907px #fff, 1443px 1453px #fff, 1483px 532px #fff, 238px 1586px #fff, 1562px 630px #fff, 958px 328px #fff, 1725px 311px #fff, 388px 1196px #fff, 1204px 669px #fff, 771px 118px #fff, 283px 605px #fff, 1116px 89px #fff, 602px 309px #fff, 38px 362px #fff, 1764px 163px #fff, 46px 1581px #fff, 1588px 1627px #fff, 1722px 271px #fff, 601px 1257px #fff, 283px 1466px #fff, 970px 597px #fff, 1622px 1697px #fff, 857px 1274px #fff, 1590px 1130px #fff, 1664px 935px #fff, 929px 149px #fff, 1797px 553px #fff, 1238px 1483px #fff, 1332px 902px #fff, 595px 324px #fff, 1606px 1037px #fff, 1323px 726px #fff, 670px 1155px #fff, 763px 1433px #fff, 1375px 267px #fff, 1580px 406px #fff, 736px 626px #fff, 614px 1447px #fff, 1642px 16px #fff, 1187px 1184px #fff, 416px 168px #fff, 625px 1765px #fff, 932px 603px #fff, 1052px 457px #fff, 158px 547px #fff, 151px 1360px #fff, 1647px 852px #fff, 984px 1282px #fff, 102px 1098px #fff, 1268px 988px #fff, 95px 1667px #fff, 1661px 1185px #fff, 1665px 937px #fff, 1201px 56px #fff, 1459px 1018px #fff, 767px 1118px #fff, 166px 1201px #fff, 522px 592px #fff, 1647px 1338px #fff, 1769px 1081px #fff, 936px 1043px #fff, 1193px 892px #fff, 922px 1410px #fff, 1110px 1430px #fff, 1313px 765px #fff, 127px 1315px #fff, 374px 1111px #fff, 333px 400px #fff, 669px 797px #fff, 559px 1513px #fff, 53px 1487px #fff, 905px 1578px #fff, 477px 1335px #fff, 45px 842px #fff, 780px 384px #fff, 740px 1329px #fff, 1674px 1708px #fff, 745px 16px #fff, 1685px 635px #fff, 143px 781px #fff, 36px 505px #fff, 323px 1212px #fff, 1138px 1234px #fff, 821px 145px #fff, 133px 1507px #fff, 1475px 1284px #fff, 1570px 716px #fff, 11px 1711px #fff, 1535px 1601px #fff, 628px 1742px #fff, 252px 1532px #fff, 1428px 427px #fff, 1032px 180px #fff, 1776px 672px #fff, 994px 1353px #fff, 1294px 1674px #fff, 1506px 948px #fff, 188px 1655px #fff, 466px 795px #fff, 542px 238px #fff, 894px 1629px #fff, 457px 1261px #fff, 898px 1699px #fff, 1342px 1536px #fff, 1270px 1262px #fff, 1234px 1212px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.3s;
    z-index: 2;
    position: relative;
  }
  
  #stars-group-5 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 721px 1278px #fff, 1431px 358px #fff, 1079px 585px #fff, 222px 787px #fff, 1322px 1140px #fff, 1753px 1334px #fff, 591px 1598px #fff, 1338px 880px #fff, 1233px 683px #fff, 214px 404px #fff, 800px 1309px #fff, 930px 320px #fff, 643px 1441px #fff, 1720px 402px #fff, 1553px 498px #fff, 1361px 603px #fff, 1390px 1528px #fff, 723px 742px #fff, 513px 850px #fff, 333px 1472px #fff, 1675px 1248px #fff, 699px 476px #fff, 1268px 342px #fff, 1762px 1481px #fff, 215px 10px #fff, 898px 591px #fff, 541px 1618px #fff, 1723px 1613px #fff, 36px 1265px #fff, 842px 1299px #fff, 1331px 1344px #fff, 662px 232px #fff, 1396px 648px #fff, 882px 1032px #fff, 1390px 349px #fff, 1287px 874px #fff, 53px 738px #fff, 1293px 1372px #fff, 165px 1624px #fff, 858px 1475px #fff, 42px 1448px #fff, 1351px 379px #fff, 605px 394px #fff, 468px 1397px #fff, 870px 1292px #fff, 1453px 1671px #fff, 863px 1015px #fff, 1373px 269px #fff, 1639px 1440px #fff, 434px 1017px #fff, 1165px 649px #fff, 1338px 641px #fff, 1213px 1781px #fff, 1562px 824px #fff, 342px 1794px #fff, 186px 1678px #fff, 1746px 474px #fff, 298px 1792px #fff, 69px 645px #fff, 1275px 1488px #fff, 247px 1790px #fff, 1165px 639px #fff, 1057px 1289px #fff, 302px 1227px #fff, 838px 1094px #fff, 407px 549px #fff, 1079px 556px #fff, 1627px 1506px #fff, 466px 625px #fff, 220px 1277px #fff, 775px 1146px #fff, 92px 603px #fff, 599px 870px #fff, 1721px 1443px #fff, 1184px 666px #fff, 752px 850px #fff, 983px 681px #fff, 824px 996px #fff, 1183px 253px #fff, 137px 187px #fff, 669px 1682px #fff, 373px 814px #fff, 298px 1737px #fff, 211px 768px #fff, 533px 1513px #fff, 1025px 1173px #fff, 571px 830px #fff, 1157px 1148px #fff, 1677px 1059px #fff, 1273px 1639px #fff, 334px 776px #fff, 543px 1468px #fff, 903px 806px #fff, 526px 1518px #fff, 1532px 1233px #fff, 1276px 1452px #fff, 718px 61px #fff, 1103px 757px #fff, 141px 974px #fff, 1086px 1416px #fff, 1166px 803px #fff, 1067px 1005px #fff, 1719px 587px #fff, 474px 250px #fff, 1363px 762px #fff, 499px 902px #fff, 340px 1539px #fff, 845px 634px #fff, 1477px 1358px #fff, 1351px 743px #fff, 1584px 1037px #fff, 1381px 491px #fff, 655px 1495px #fff, 1057px 1523px #fff, 999px 1052px #fff, 1692px 868px #fff, 1650px 1686px #fff, 110px 379px #fff, 605px 428px #fff, 373px 1366px #fff, 207px 671px #fff, 1701px 37px #fff, 1206px 249px #fff, 1633px 1314px #fff, 1003px 1244px #fff, 227px 492px #fff, 61px 260px #fff, 1495px 306px #fff, 1586px 971px #fff, 687px 1632px #fff, 1281px 1570px #fff, 258px 553px #fff, 1539px 980px #fff, 1432px 565px #fff, 334px 1132px #fff, 1556px 1622px #fff, 1554px 1024px #fff, 450px 1274px #fff, 582px 1168px #fff, 869px 346px #fff, 1458px 1344px #fff, 822px 289px #fff, 239px 342px #fff, 669px 1103px #fff, 247px 853px #fff, 258px 157px #fff, 1119px 1148px #fff, 1610px 184px #fff, 71px 32px #fff, 1575px 816px #fff, 365px 456px #fff, 1620px 1382px #fff, 1684px 943px #fff, 1310px 76px #fff, 1019px 290px #fff, 298px 1319px #fff, 1730px 1445px #fff, 1543px 334px #fff, 700px 1759px #fff, 1693px 253px #fff, 80px 1426px #fff, 1232px 1626px #fff, 147px 212px #fff, 1040px 213px #fff, 1640px 924px #fff, 456px 733px #fff, 977px 1150px #fff, 193px 1415px #fff, 685px 311px #fff, 1205px 809px #fff, 1071px 1703px #fff, 1342px 1019px #fff, 1348px 1364px #fff, 1699px 176px #fff, 375px 1564px #fff, 495px 1688px #fff, 1357px 164px #fff, 535px 1608px #fff, 886px 551px #fff, 75px 914px #fff, 664px 1690px #fff, 1380px 1089px #fff, 1024px 680px #fff, 1650px 659px #fff, 789px 1148px #fff, 1382px 661px #fff, 1138px 1229px #fff, 1776px 1235px #fff, 1692px 1536px #fff, 1453px 1405px #fff, 667px 988px #fff, 1482px 565px #fff, 453px 1271px #fff, 954px 324px #fff, 1686px 1085px #fff, 1185px 534px #fff, 1648px 1359px #fff, 646px 751px #fff, 1755px 1652px #fff, 518px 1440px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.4s;
    z-index: 2;
    position: relative;
  }
  
  #stars-group-6 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 1800px 623px #fff, 524px 1217px #fff, 174px 1305px #fff, 1499px 1215px #fff, 1662px 123px #fff, 59px 978px #fff, 1311px 1449px #fff, 75px 1745px #fff, 1535px 1147px #fff, 857px 712px #fff, 1603px 1232px #fff, 1704px 163px #fff, 967px 463px #fff, 1088px 1762px #fff, 1083px 1162px #fff, 79px 1208px #fff, 1068px 1563px #fff, 862px 203px #fff, 966px 1016px #fff, 582px 535px #fff, 849px 77px #fff, 27px 1201px #fff, 982px 435px #fff, 564px 284px #fff, 1595px 1120px #fff, 1348px 1799px #fff, 141px 1769px #fff, 1679px 110px #fff, 1134px 1362px #fff, 86px 690px #fff, 1588px 1348px #fff, 857px 782px #fff, 779px 1720px #fff, 1039px 493px #fff, 1562px 692px #fff, 1063px 277px #fff, 462px 1510px #fff, 1044px 586px #fff, 937px 858px #fff, 1044px 29px #fff, 399px 893px #fff, 697px 571px #fff, 244px 1496px #fff, 1436px 1264px #fff, 124px 1460px #fff, 105px 626px #fff, 573px 686px #fff, 491px 676px #fff, 1181px 297px #fff, 917px 1670px #fff, 241px 1775px #fff, 958px 472px #fff, 1286px 1056px #fff, 117px 198px #fff, 531px 1140px #fff, 12px 1428px #fff, 1391px 3px #fff, 754px 375px #fff, 1591px 267px #fff, 167px 1746px #fff, 557px 270px #fff, 1559px 647px #fff, 746px 1169px #fff, 708px 1232px #fff, 1426px 773px #fff, 1730px 249px #fff, 806px 694px #fff, 1775px 1583px #fff, 463px 636px #fff, 1194px 144px #fff, 1346px 1596px #fff, 1349px 603px #fff, 1187px 1636px #fff, 110px 1731px #fff, 1488px 1194px #fff, 1490px 1517px #fff, 1008px 1374px #fff, 1028px 1172px #fff, 288px 1161px #fff, 235px 93px #fff, 402px 46px #fff, 527px 96px #fff, 311px 782px #fff, 296px 1452px #fff, 211px 1264px #fff, 249px 1073px #fff, 775px 726px #fff, 692px 300px #fff, 534px 389px #fff, 927px 1369px #fff, 1681px 642px #fff, 762px 1086px #fff, 1150px 1635px #fff, 1168px 993px #fff, 1568px 989px #fff, 759px 854px #fff, 79px 269px #fff, 211px 453px #fff, 537px 1288px #fff, 176px 154px #fff, 1310px 786px #fff, 835px 1083px #fff, 652px 1090px #fff, 474px 1206px #fff, 47px 1601px #fff, 855px 1092px #fff, 132px 1245px #fff, 1010px 196px #fff, 579px 247px #fff, 549px 1537px #fff, 520px 545px #fff, 944px 1698px #fff, 1582px 1675px #fff, 1200px 1210px #fff, 1115px 1083px #fff, 1405px 696px #fff, 94px 1426px #fff, 1560px 1269px #fff, 349px 111px #fff, 1297px 202px #fff, 839px 1514px #fff, 809px 927px #fff, 1160px 444px #fff, 76px 448px #fff, 1006px 673px #fff, 852px 1023px #fff, 1639px 1480px #fff, 72px 789px #fff, 592px 736px #fff, 1187px 405px #fff, 242px 1577px #fff, 1029px 957px #fff, 1078px 600px #fff, 7px 165px #fff, 376px 1304px #fff, 1353px 409px #fff, 1452px 1091px #fff, 1198px 1632px #fff, 1472px 78px #fff, 733px 1677px #fff, 333px 276px #fff, 581px 909px #fff, 1430px 1360px #fff, 1753px 1585px #fff, 415px 52px #fff, 721px 173px #fff, 587px 1650px #fff, 198px 674px #fff, 610px 970px #fff, 1684px 1024px #fff, 680px 621px #fff, 279px 1351px #fff, 375px 1312px #fff, 193px 1635px #fff, 1184px 440px #fff, 1294px 170px #fff, 1165px 394px #fff, 193px 479px #fff, 1267px 818px #fff, 1099px 360px #fff, 1200px 1633px #fff, 317px 986px #fff, 1261px 1487px #fff, 1090px 389px #fff, 953px 745px #fff, 318px 1468px #fff, 1031px 465px #fff, 346px 69px #fff, 1626px 653px #fff, 528px 1705px #fff, 66px 171px #fff, 147px 760px #fff, 926px 154px #fff, 1144px 460px #fff, 1052px 453px #fff, 982px 830px #fff, 1565px 328px #fff, 128px 883px #fff, 837px 412px #fff, 1244px 466px #fff, 445px 899px #fff, 1055px 872px #fff, 416px 964px #fff, 277px 1075px #fff, 1266px 1082px #fff, 791px 847px #fff, 1377px 1134px #fff, 622px 1010px #fff, 1658px 413px #fff, 1273px 569px #fff, 159px 649px #fff, 1098px 1455px #fff, 1685px 1748px #fff, 1256px 1754px #fff, 622px 1395px #fff, 298px 439px #fff, 1357px 553px #fff, 895px 1547px #fff, 1060px 602px #fff, 142px 519px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    z-index: 2;
    position: relative;
  }
  
  @keyframes glowing-stars {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }